<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update book</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="p-8 border-2">
        <div class="flex justify-between">
          <a class="text-xl border-2 px-4 py-1 rounded-xl bg-gray-600 text-white" href="/books">List of Books</a>
          <a class="text-xl border-2 px-4 py-1 bg-green-500 text-white rounded-xl" href="/books/<%=books.id%>">Back</a>
        </div>
    </header>

    <main>
        <section>
            <form action="/books/<%=books.id%>" method="POST" class="w-4/12 border-2 p-3 py-16 rounded-xl m-auto mt-12">
                <h2 class="text-center text-2xl">Add Book</h2>
                <input type="text" name="title" value="<%=books.title%>" class="w-full border-2 p-2 mt-4 rounded-xl outline-none focus:border-green-600">
                <input type="text" name="summery" value="<%=books.summery%>"  class="w-full border-2 p-2 mt-4 rounded-xl outline-none focus:border-green-600">
                <input type="number" name="pages" value="<%=books.pages%>" class="w-full border-2 p-2 mt-4 rounded-xl outline-none focus:border-green-600">
                <input type="text" name="publication" value="<%=books.publication%>" class="w-full border-2 p-2 mt-4 rounded-xl outline-none focus:border-green-600">
                <input type="text" name="coverImage" value="<%=books.coverImage%>" class="w-full border-2 p-2 mt-4 rounded-xl outline-none focus:border-green-600">
                <input type="submit" class="w-full border-2 p-2 mt-4 rounded-xl outline-none focus:border-green-600">
            </form>
        </section>
    </main>
</body>
</html>