<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <header class="border-2 p-12 w-full">
        <div class="w-full flex justify-between">
          <a class="block font-bold" href="/articles">List of All Articles</a>
          <a class="block font-bold" href="/articles/<%=articles.id%>">Back</a>
        </div>
    </header>


    <form action="/articles/<%=articles.id%>" method="POST" class="w-4/12 rounded-md shadow-md  border-2 p-6 m-auto mt-10" >
        <h2 class="text-center text-2xl font-bold">Submit the Article</h2>
        <input class="w-full outline-none focus:border-green-700 rounded-md p-2 mt-5 border-2" type="text" name="title" value="<%=articles.title%>">
        <input class="w-full outline-none focus:border-green-700 rounded-md p-2 mt-5 border-2" type="text" name="author" value="<%=articles.author%>">
        <textarea class="w-full outline-none focus:border-green-700 rounded-md p-2 mt-5 border-2" name="description" id="" cols="30" rows="10" ><%=articles.description%></textarea>
        <input class="w-full outline-none focus:border-green-700 rounded-md p-2 mt-5 border-2" type="number" name="likes" value="<%=articles.likes%>">
        <input class="w-full outline-none focus:border-green-700 rounded-md p-2 mt-5 border-2" type="submit">
    </form>
</body>
</html>