<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <header class="w-full border-2 shadow-sm mb-3 py-5">
        <a class="block text-center text-xl" href="/">Go To Home page</a>
        <a class="text-2xl block w-2/12 border-2 py-2 m-auto mt-5 text-center" href="/articles/new"> Add New Article</a>
        <a class="block text-center text-2xl mt-3" href="/articles">list of articles</a>
    </header>
    <section>
        <div class="w-3/12 border-2 p-5 text-center">
            <h2><%= articles.title%></h2>
            <h3><%= articles.description%></h3>
            <h4><%= articles.tags%></h4>
            <h5><%= articles.author%></h5>
            <h6><%= articles.likes ? articles.likes : 0 %></h6>

            <a href="/articles/<%=articles.id%>/likes">
                <button class="border-2 p-1 px-6">Like</button>
            </a>

            <a href="/articles/<%=articles.id%>/dislikes">
                <button class="border-2 p-1 px-6">dislike</button>
            </a>

            <a href="/articles/<%=articles.id%>/edit">
                <button class="border-2 p-1 px-6">Edit</button>
            </a>

            <a href="/articles/<%=articles.id%>/delete">
                <button class="border-2 p-1 px-6">delete</button>
            </a>


        </div>
    </section>
</body>
</html>